<form class="form" ng-submit="login(user)">
  <label><h3>Email</h3></label>
  <input class="form-control"
         ng-model="user.email" 
         type="email" 
         placeholder="enter your email…" 
         required=""
        >
  <label><h3>Password</h3></label>
  <input class="form-control"
         ng-model="user.password" 
         type="password" 
         placeholder="enter your password…" 
         required=""
        >
  <button type="submit" class="button btn-block btn-success">Log In</button>
</form>