<form class="form" ng-submit="register(user)">
  <label><h3>Email</h3></label>
  <input class="form-control"
         ng-model="user.email" 
         type="email" 
         placeholder="enter an email…" 
         required=""
        >
  <label><h3>Password</h3></label>
  <input class="form-control"
         ng-model="user.password" 
         type="password" 
         placeholder="enter a password…" 
         required=""
        >
  <button type="submit" class="button btn-block btn-success">Register</button>
</form>